# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# Environment / secrets
.env
.streamlit/secrets.toml

# Large raw dataset - not required by deployed app
data/raw/online_retail_II.csv
